
@model List<GetUrl>;
@{
    ViewData["Title"] ="All short links";
}

<div class="container">
<a class="btn btn-outline-sucess" asp-controller="Home" asp-action="Index" >
Add new</a>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
        <th scope="col">#</th>
        <th scope="col">Orgina link</th>
        <th scope="col">Shorten link</th>
        <th scope="col">Number of cliks</th>
        <th scope="col">#USer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                <td>@item.Id</td>
                <td>@item.OriginalLink</td>
                <td>@item.ShortLink</td>
                <td>@item.ClickedTime</td>
                <td>@item.UserID</td>
                <td>@(item.User != null ? item.User.FullName: "--")</td>
                    <td><a class="btn btn-outline-danger" asp-controller="Url" asp-action="Remove" asp-route-id="@item.Id">Remove</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>